.currency-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 500px;
    height: 250px;
    border: 1px solid #65fdf6;
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
}
.amount {
    height: 90px;
    height: 30px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
    border: none;
    outline: none;
}
.from-currency-option {
    height: 90px;
    height: 35px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
}
.to-currency-option {
    height: 90px;
    height: 35px;
    margin-right: 10px;
    box-shadow: 0 0 5px #eee;
    border-radius: 5px;
}

         .btn-grad {background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%)}
         .btn-grad {
            margin: 15px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 5px #eee;
            border-radius: 10px;
            display: block;
            font-family:'Times New Roman', Times, serif;
            font-size: 20px;
            border: none;
            outline: none;
            cursor: pointer;
           
          }

          .btn-grad:hover {
            background-position: right center; 
            color: #fff;
            text-decoration: none;
             
          }
         
