body {
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    height: 50px;
    background-color: rgb(41, 66, 58);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.link {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin: 0 6px;
    color:darkgrey;
}